footer {
    background-color: $footer-clr;
    height: $footer-h;
    .container {
      padding: 0 10px;
      justify-content: space-between;
      .info-section {
        margin-top: 33px;
        h2 {
          color: $primary-clr;
          font-size: 1.15rem;
          margin-bottom: 10px;
        }
        li {
          font-size: .9rem;
          margin-right: 10px;
          a:hover {
            text-decoration: underline;
          }
        }
      }
      .socials {
        margin-top: 33px;
        width: 150px;
        h4 {
          margin-bottom: 10px;
          font-size: .9rem;
          padding-left: 5px;
        }
        .social-icons {
          font-size: 1.32rem;
          justify-content: space-around;
        }
      }
    }
  }
